<form #form="ngForm">
    
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="text" name="Username" class="form-control"  >
    </div>
    <div class="mb-3">
        <label for="UserPwd" class="form-label">UserPwd</label>
        <input type="text" name="UserPwd" class="form-control" >
      </div>
      <div class="mb-3">
        <label for="LoginRole" class="form-label">LoginRole</label>
        <input type="text" class="form-control" name="LoginRole"  >
      </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>